input[type="text"],
input[type="url"] {
  width: 100%;
}
.Chain {
  float: left;
  width: 300px;
}
.Chain table {
  table-layout: fixed;
  width: 100%;
}
.Chain table .SensorId {
  width: 40px;
}

.Chain table .buttons {
  width: 60px;
}
